div {
  width: 500px;
  background-color: black;
  border-radius: 20px;
}

img {
  width: 500px;
  border-radius: 20px 20px 0 0;
}

.topic {
  text-align: center;
  font-family: arial;
}

.description {
  text-align: center;
  font-family: arial;
  font-size: 18px;
}

hr {
  height: 3px;
  background-color: grey;
  border-color: grey;
  position: relative;
  top: -10px;
}

.read-more {
  width: 100px;
  height: 30px;
  font-size: 15px;
  border-radius: 5px;
}

.button {
  text-align: center;
}
